if [ -z "${POMMES_AUTO_CD}" ] ; then
  export POMMES_AUTO_CD=/tmp/pommes-$$
  pommes_precmd() {
    # wrap in eval to avoid bash syntax error
    eval "files=(${POMMES_AUTO_CD}-*(N))"
    for file in ${files}; do
      cd $(cat $file)
      rm ${file}
    done
  }
  autoload -Uz add-zsh-hook
  add-zsh-hook precmd pommes_precmd

# else
#   already initialized, nothing to do
fi
