if [ -z "${POMMES_AUTO_CD}" ] ; then
  export POMMES_OLD_PROMPT_COMMAND=$PROMPT_COMMAND

  doPommes() {
    eval "$POMMES_OLD_PROMPT_COMMAND"
    for file in ${POMMES_AUTO_CD}-*; do
        if [ -f "${file}" ] ; then
            cd $(cat $file)
            rm ${file}
        fi
    done
  }
  PROMPT_COMMAND=doPommes
  alias pg='pommes goto'
# else
#   already initialized, nothing to do
fi
